import { Server } from 'socket.io';
{% set channel = operations[0].channel.publish -%}
import { {{ channel['x-response-definitions'] }} } from '@/generated/interfaces';

export default (
  routingKey: string,
  payload: {{ channel['x-response-definitions'] }},
  io: Server,
  room: string
): void => {
  io
    .to(room)
    .emit('direct', {
      time: new Date(),
      routingKey,
      payload: payload.notification
    });
}
