import { Server } from 'socket.io';
{% set channel = operations[0].channel.publish -%}
import { {{ channel['x-response-definitions'] }} } from '@/generated/interfaces';

export default (
  routingKey: string,
  payload: {{ channel['x-response-definitions'] }},
  io: Server,
): void => {
  const room = '' // you will need to have your own mechanism to calculate the room here based on the notification type.
  io
    .to(room)
    .emit('direct', {
      time: new Date(),
      routingKey,
      payload
    });
}
